/* You can add global styles to this file, and also import other style files */
@use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';
@use '~@fortawesome/fontawesome-free/scss/brands';
@use '~@fortawesome/fontawesome-free/scss/regular';
@use '~@fortawesome/fontawesome-free/scss/solid';
@use 'variables' as *;

.bg {
  content: " ";
  background-image: $body-bg-overlay, $body-bg-image;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -10;
}

@include media() {
  .container {
    padding-right: 0;
    padding-left: 0;
  }
}
