@use "/src/styles/variables" as var;

:host {
  margin: 5px;
  min-width: 10em;
  height: 10em;
  transition: height 0.3s, background-color 0.3s, opacity 0.3s;
}

a {
  border: none;
  color: var.$icon-color;
  border-radius: 0;
  padding: 0.75em;
  width: 100%;
  height: 100%;
  font-weight: var.$font-weight-base;

  &:hover {
    color: var.$icon-color-hover;
  }

  span {
    display: block;
  }

  .icon {
    display: block;
    padding: 1.4em 0;
    background: var.$icon-bg-color;

    & + span {
      margin-top: 2.1em;
      transition: margin 0.3s;
    }
  }
}

@include var.media() {
  :host {
    min-width: 6em;
    height: 8em;
  }

  .icon + span {
    margin-top: 0 !important;
  }
}

@include var.media("s", "min") {
  :host {
    flex: 1 0 calc(25% - 10px);
    max-width: calc(25% - 10px);
  }
}

@include var.media("lg", "min") {
  :host:hover {
    height: 11em;
  }

  a:hover .icon + span {
    margin-top: 3.1em;
    transition: margin 0.3s;
  }
}
